<!DOCTYPE html>
<html lang="en" lang="en">
    <head>
        <title>HelpPage</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>{{helpText}}</p>
        {{>footer}}
    </body>
</html>